@import '../../sass/constants.scss';

.table {
  width: 100%;
  text-align: end;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid $color-dark;
  // box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

th {
  &:first-child {
    text-align: center;
  }

  &:nth-child(2) {
    text-align: left;
  }

  &:nth-child(4),
  &:nth-child(6) {
    @media (max-width: $breakpoint-lg-min) {
      display: none;
    }
  }

  &:nth-child(5),
  &:nth-child(7) {
    @media (max-width: $breakpoint-sm-min) {
      display: none;
    }
  }
}

td {
  &:first-child {
    text-align: center;
  }

  &:nth-child(4),
  &:nth-child(6) {
    @media (max-width: $breakpoint-lg-min) {
      display: none;
    }
  }

  &:nth-child(5),
  &:nth-child(7) {
    @media (max-width: $breakpoint-sm-min) {
      display: none;
    }
  }
}
