@import '../../../sass/constants.scss';

.button-primary {
  display: block;
  width: 50%;
  margin: $base * 2 auto;
  padding: $base * 2;
  border-radius: $base;
  background-color: $color-white;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  font-size: $fs-xxl;
  font-weight: $fw-medium;
  text-align: center;
  transition: all $transition-01 ease-out;
  cursor: pointer;

  &:hover {
    transform: translate(0.063rem, 0.063rem);
  }

  &:active {
    transform: translate(0.125rem, 0.125rem);
  }
}
